@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
#header{
    width:80vw;
    height:8vh;
    border: solid 4px black;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    width:80vw;
    height:80vh;
    border: solid 4px black;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#footer{
    width:80vw;
    height:6vh;
    border: solid 4px black;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid-select{
    width:20vw;
    height:80vh;
    border: solid 4px black;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#sketchpad{
    width:60vw;
    height:80vh;
    border: solid 4px black;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    color: #000000;
    background-color: white;
    font-size: 20px;
    border: 5px solid #000000;
    width:10vw;
   height:10vh;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-weight: 500;
}
button:hover {
    color: white;
    background-color: black;
}
.contentdiv{
    border: solid 2px black;
}
.eightparent{
   
    height:100%;
    border: solid 1px black;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
}
.eightchild{
   
    height:100%;
    border: solid 1px grey;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}